/*
犬夜叉

*/

.JiaoSe_two {
    width: 54px;
    height: 66px;
    position: absolute;
    background:url("../../images/QuanYeCha/Right/JingTai/JingTai.png") 2px 2px no-repeat ;
    -webkit-animation-iteration-count: infinite; /*动画无限播放*/
    -webkit-animation-timing-function:step-start; /*马上跳到动画每一结束桢的状态*/
    -webkit-animation-name: person-normal;
    -webkit-animation-duration: 800ms;
}

@-webkit-keyframes person-normal{/* 犬夜叉 静止状态图  */
    0% {background-position: 2px 2px;}
    25% {background-position: -50px 2px;}
    50% {background-position: -103px 2px;}
    75% {background-position: -155px 2px;}
    100% {background-position: 2px 2px;}
}

@-webkit-keyframes SanHunTieZhua{ /* 技能 散魂铁爪 按钮 1 */
    0% {background-position: -12px 1px;width: 43px;height: 59px;}
    20% {background-position: -58px 1px;width: 45px;height: 59px;}
    40% {background-position: -112px 1px;width: 45px;height: 59px;}
    60% {background-position: -165px 1px;width: 45px;height: 59px;}
    80% {background-position: -232px 1px;width: 45px;height: 59px;}
    100% {background-position: -12px 1px;width: 43px;height: 59px;}
}
@-webkit-keyframes FangShou{ /* 技能 防守 按钮 0 */
    0% {background-position: 0 0;width: 41px;height: 47px;}
    100% {background-position: -82px 0;width: 41px;height: 47px;}
}